<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>${env.SONAR_URL}</sonar.host.url>
		<sonar.login>${env.SONAR_USER}</sonar.login>
		<sonar.password>${env.SONAR_PASSWORD}</sonar.password>
            </properties>
        </profile>
     </profiles>
</settings>
