<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>200 Ok</title>
    <link href="/@admin/assets/css/defaults.min.css" rel="stylesheet">
</head>
<body class="code-200">
<div id="code">
    <div class="code">
        <div class="code-text">
            <h1>200</h1>
        </div>
        <h2>Ok.</h2>
        <p>The server successfully processed the request.</p>
    </div>
</div>
</body>
</html>