<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>401 Unauthorized</title>
    <link rel="stylesheet" href="/@admin/assets/css/defaults.min.css">
</head>
<body class="error-401">
<div id="error">
    <div class="error">
        <div class="error-text">
            <h1>401</h1>
        </div>
        <h2>Authentication required.</h2>
        <p>The request requires user authentication.</p>
    </div>
</div>
</body>
</html>