<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>429 Too Many Requests</title>
	<link rel="stylesheet" href="/@admin/assets/css/defaults.min.css">
</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>429</h1>
			</div>
			<h2>Too many requests.</h2>
			<p>The user has sent too many requests in a given amount of time.</p>
			<a href="/">Back To Homepage</a>
		</div>
	</div>
</body>
</html>