<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="/@admin/assets/css/defaults.min.css">
</head>
<body class="error-500">
<div id="error">
    <div class="error">
        <div class="error-text">
            <h1>500</h1>
        </div>
        <h2>An error occurred.</h2>
        <p>The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
    </div>
</div>
</body>
</html>