<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>###xxx###</title>
    <link href="/@admin/assets/css/defaults.min.css" rel="stylesheet">

</head>
<body class="code-xxx">
<div id="code">
    <div class="code">
        <div class="code-text">
            <h1>###xxx###</h1>
        </div>
        <p>The server returned HTTP status code ###xxx###.</p>
    </div>
</div>
</body>
</html>